@using System.Collections.Generic
@using Asafaharbor.Web.HTMLExtensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_Layout.cshtml";
}

<h2>Edit Account</h2>
<form method="POST">
    <fieldset>
        <div class="row">
            <div class="small-3 columns">
                <label for="Username" class="right inline">Username</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="Username" name="Username" placeholder="e.g. johnsmith" value="@Model.User.Username">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "Username")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="FriendlyName" class="right inline">Name</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="FriendlyName" name="FriendlyName" placeholder="e.g. John Smith" value="@Model.User.FriendlyName">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "FriendlyName")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="EMailAddress" class="right inline">Email</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="EMailAddress" name="EMailAddress" placeholder="e.g. johnsmith@sharklasers.com" value="@Model.User.EMailAddress">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "EMailAddress")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="Password" class="right inline">Password</label>
            </div>
            <div class="small-9 columns">
                <input type="password" id="Password" name="Password">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "Password")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="ConfirmPassword" class="right inline">Confirm Password</label>
            </div>
            <div class="small-9 columns">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "ConfirmPassword")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="Website" class="right inline">Website</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="Website" name="Website" placeholder="e.g. www.johnsmith.com" value="@Model.User.Website">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "Website")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="ASafaApiUsername" class="right inline">ASafaApiUsername</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="ASafaApiUsername" name="ASafaApiUsername" placeholder="e.g. " value="@Model.User.ASafaApiUsername">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "ASafaApiUsername")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="ASafaApiKey" class="right inline">ASafaApiKey</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="ASafaApiKey" name="ASafaApiKey" placeholder="e.g. " value="@Model.User.ASafaApiKey">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "ASafaApiKey")
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <label for="ImageUrl" class="right inline">ImageUrl</label>
            </div>
            <div class="small-9 columns">
                <input type="text" id="ImageUrl" name="ImageUrl" placeholder="e.g. " value="@Model.User.ImageUrl">
                @Html.ValidationMessageFor((List<Asafaharbor.Web.Models.ErrorModel>)Model.Page.Errors, "ImageUrl")
            </div>
        </div>
        <div class="row">
            <div class="small-9 small-offset-3 columns">
                <input type="submit" class="small button"/>
            </div>
        </div>
    </fieldset>
</form>