@using System.Collections.Generic
@using Asafaharbor.Web.HTMLExtensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Page.Title@Model.Page.TitleSuffix</title>

    <script src="@Url.Content("~/Scripts/vendor/zepto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vendor/custom.modernizr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/foundation.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    
    <link href="@Url.Content("~/styles/site.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/styles/normalize.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/styles/foundation.css")" rel="stylesheet"/>
    @RenderSection("Scripts", required: false)
</head>
    <body>
        <header>
            <nav class="top-bar">
                <div style="max-width: 62.5em; margin: 0 auto;">
                    <ul class="title-area">
                        <li class="name"></li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <!-- Left Nav Section -->
                        <ul class="left">
                            <li><a href="@Url.Content("~/")" title="ASafaHarbor"><img src="~/Content/Images/ASafaHarbor-Logo.png" alt="ASafaHarbor" class="logo"/></a></li>
                        </ul>
                        <ul class="right">
                            @if (Model.Page.IsAuthenticated)
                            {
                                <li><a href="@Url.Content("~/Projects")">Projects</a></li>
                                <li class="title"><a href="@Url.Content("~/Account")">@Model.Page.FriendlyName <img src="@Model.Page.ImageUrl" class="gravitar-menu"/></a></li>
                                <li><a href="@Url.Content("~/Account/log-out")">Log out</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Content("~/Account/log-in")">Log in</a></li>
                                <li><a href="@Url.Content("~/Account/register")">Register</a></li>
                            }
                        </ul>
                    </section>
                </div>
            </nav>
        </header>
        <section>
            <div class="large-10 large-offset-1 columns">
                @Html.NotificationSummary((List<Asafaharbor.Web.Models.NotificationModel>)Model.Page.Notifications)
            </div>
        </section>
        <div id="main">
            <div class="small-10 columns small-centered">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
